body {
    font-family: Inter;
}
.container {
text-align: center;
margin: 0 auto;
width: 1200px;

}
.head {
font-weight: 700;
font-size: 48px;
color: #FFFFFF;
}

.header {  
width: 100%;
background-color: #EEEFF1;
}

.card { 
padding-top: 20px;
margin: 10px;
display: inline-block;
width: 239px;
height: 327px;
background-color: #FFFFFF;
text-align: center;
}

.title {
margin-top: 20px;
font-weight: 700;
font-size: 12px;
color: #000000;
}

.text {
padding-top: 20px;
font-weight: 400;
font-size: 12px;
color: #000000;
line-height: 14.52px;
}

.btn {
margin-top: 25px;   
width: 160px;
height: 40px;
background-color: #6177EB;
font-weight: 700;
font-size: 12px;
color: #FFFFFF;
}
