body {
  font-family: Roboto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  padding-top: 70px;
  height: 700px;
  width: 100%;
  background-color: #eeeff1;
}

.nav__list {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 26.25px;
}

.nav__item {
  color: #34547a;
  padding-right: 42px;
  display: inline-block;
  position: relative;
}

.nav__link,
.nav__link__first {
  color: #34547a;
}

.nav__link__first::before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  border: 3px solid black;
}

.info__title {
  position: relative;
  padding-left: 399px;
  margin-top: 151px;
  font-weight: 500;
  font-size: 48px;
  line-height: 78.75px;
  color: #000000;
}

.info__title::before {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: 190px;
  width: 150px;
  height: 150px;
  opacity: 0.5;
  border-radius: 80%;
  background-position: top -110px right -95px;
  background-image: url("https://media.istockphoto.com/id/510388692/nl/vector/graphic-design-icons-set-smart-series.jpg?s=612x612&w=is&k=20&c=bkgnTtG814ijdahTPPLkoWYRRRETB11GB9k9rPyKrtY=");
}

.info__desc {
  padding-left: 399px;
  margin-top: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.25px;
  color: #727272;
}

.btn {
  position: relative;
  left: 399px;
  margin-top: 65px;
  margin-bottom: 141px;
  width: 225px;
  height: 65px;
  background-color: #34547a;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.25px;
  text-align: center;
  color: #ffffff;
}

.about__me {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.about__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 430px;
  width: 200px;
  height: 200px;
  opacity: 0.3;
  background-position: top 50% left;
  background-image: url("https://t3.ftcdn.net/jpg/03/15/07/50/240_F_315075013_IGHqf6jPrAfVnT7JU3mvOGNistSlCpUL.jpg");
}

.about {
  width: 540px;
  text-align: center;
}

.about__title {
  padding-top: 112px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37.5px;
}

.about__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: center;
  color: #727272;
  padding-bottom: 100px;
}

.project {
  position: relative;
  color: #ffffff;
  align-items: center;
  text-align: center;
}

.project::before {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: -60px;
  width: 120px;
  height: 120px;
  opacity: 0.2;
  border-radius: 60%;
  background-repeat: no-repeat;
  background-position: top 1px left 51%;
  background-image: url("https://media.istockphoto.com/id/510388692/nl/vector/graphic-design-icons-set-smart-series.jpg?s=612x612&w=is&k=20&c=bkgnTtG814ijdahTPPLkoWYRRRETB11GB9k9rPyKrtY=");
}

.projects {
  width: 100%;
  height: 250px;
  background-color: #34547a;
}

.prj {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  text-align: center;
  display: inline-block;
  width: 141px;
  height: 200px;
}
.prj__info {
  text-align: left;
  float: right;
}

.prj__title {
  display: inline-block;
  font-weight: 500;
  font-size: 21px;
  line-height: 24.61px;
}

.prj__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26.25px;
}

.video__box {
  width: 100%;
  background-color: #eeeff1;
}

.header__video::after {
  content: "";
  display: block;
  position: absolute;
  top: 35px;
  right: -180px;
  width: 150px;
  height: 150px;
  opacity: 0.4;
  border-radius: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://media.istockphoto.com/id/510388692/nl/vector/graphic-design-icons-set-smart-series.jpg?s=612x612&w=is&k=20&c=bkgnTtG814ijdahTPPLkoWYRRRETB11GB9k9rPyKrtY=");
}

.header__video {
  position: relative;
  width: 540px;
  margin: 0 auto;
  text-align: center;
}

.video__title {
  padding-top: 100px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37.5px;
  color: #000000;
}

.video__text {
  margin-top: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.25px;
  color: #727272;
}

.vid {
  width: 900px;
  height: 600px;
  margin-top: 57px;
  padding-bottom: 100px;
  position: relative;
  left: 155px;
}

.footer {
  width: 100%;
  height: 151px;
  background-color: #34547a;
}

.footer__title {
  position: relative;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-left: 170px;
  font-weight: 500;
  color: #ffffff;
  font-size: 21px;
  line-height: 24.61px;
}

.footer__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 90px;
  width: 100px;
  height: 100px;
  opacity: 0.2;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center right 30px;
  background-image: url("https://media.istockphoto.com/id/510388692/nl/vector/graphic-design-icons-set-smart-series.jpg?s=612x612&w=is&k=20&c=bkgnTtG814ijdahTPPLkoWYRRRETB11GB9k9rPyKrtY=");
}

.footer__text {
  padding-left: 170px;
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21.33px;
  color: #ffffff;
}
