body {
  font-family: "Red Hat Display", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background: url(./img/image1.png) no-repeat;
  background-position: bottom 19px right -40px;
}
.header-background {
  background-color: #f9f6f5;
}
.header-box {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}
.header-box__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  font-style: italic;
  color: #222222;
}
.header__list {
  gap: 30px;
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
.header-info__list {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  margin-top: 108px;
  padding-left: 100px;
  padding-bottom: 109px;
}

.wrapper__title {
  max-width: 621px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  color: #000000;
}

.wrapper__description {
  max-width: 516px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
}
.wrapper__search-box {
  position: relative;
  border: 1px solid gray;
  margin-top: 30px;
  max-width: 326px;
  max-height: 48px;
  background-color: #ffffff;
}

.search-btn {
  position: absolute;
  right: 8px;
  bottom: 8px;
  top: 8px;
}

.shop-btn {
  margin-top: 60px;
  max-width: 148px;
  max-height: 56px;
  background-color: #402f2c;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.companies {
  margin: 0 auto;
  padding: 134px 130px;
}

.companies__list {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 42px 0;
}

.main {
  margin: 0 auto;
  padding: 0 100px;
}
.header-main {
  display: flex;
  justify-content: space-between;
}
.main__title {
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 20px;
}

.main__description {
  max-width: 700px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  padding-bottom: 60px;
}

.main__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #222222;
  text-decoration: underline;
}
.main-links {
  display: flex;
  justify-content: start;
  align-items: center;
}

.main-cards {
  padding-bottom: 130px;
  max-width: 1240px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.main-cards__title {
  padding: 0 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #222222;
  margin-top: 20px;
  margin-bottom: 16px;
}
.main-cards__description {
  padding: 0 32px;
  max-width: 500px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
}

.main-cards__box,
.main-cards__boxtwo {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(226, 225, 225);
  padding-bottom: 30px;
}
.main-cards__button {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 47px;
  display: inline-block;
}

.cards-btn {
  background-color: #402f2c;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding: 16px 32px;
  margin-right: 20px;
}
.carts-btn {
  padding: 16px 32px;
  border: 1px solid #b7ada7;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #402f2c;
}
.cards-price {
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  color: #222222;
  margin-left: 140px;
}
.termins-background {
  background-color: #fdf8f5;
}
.termins {
  padding: 50px 0;
  margin: 0 auto;
  background-color: #fdf8f5;
}

.termins-list {
  display: flex;
  justify-content: space-around;
}

.termins-list__title {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: #222222;
  border-bottom: 3px solid black;
}
.termins-list__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #555555;
  margin-top: 30px;
}
.beauty {
  margin: 0 auto;
  padding: 130px;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.beauty-text__title {
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 20px;
}
.beauty-text__description {
  max-width: 600px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 50px;
}
.beauty-text__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding: 16px 32px;
  background-color: #402f2c;
}

.designer {
  padding-bottom: 130px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 54px;
}

.designer-info__title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #222222;
}
.designer__stars {
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 43px;
}
.designer-info__description {
  max-width: 608px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 79px;
}
.designer-info__name {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #222222;
  margin-bottom: 10px;
}
.designer-info__trade {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #555555;
}
.footer-background {
  background-color: #fafafa;
}
.footer {
  margin: 0 auto;
  padding: 103px 100px 52px;
}

.footer-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
}

.footer-head__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  color: #222222;
  margin-bottom: 64px;
}
.footer-head__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 386px;
  height: 56px;
  background-color: #ffffff;
}
.footer-email {
  display: block;
  height: 100%;
  width: 85%;
  padding: 0 10px;
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  font-weight: 400;
}
.footer-btn {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background-color: #402f2c;
  padding: 15px;
}

.footer-nav {
  padding-top: 59px;
  display: flex;
  justify-content: space-around;
}

.footer-nav__logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-decoration: underline;
  font-style: italic;
  color: #222222;
}
.footer-nav__description {
  margin-top: 39px;
  width: 326px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #555555;
}
.footer__link,
.footer__contacts {
  font-weight: 500;
  padding-top: 39px;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}
.footer__item,
.footer__contact__item,
.footer__links,
.footer__contact__links {
  padding-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
.icon__link {
  padding-right: 10px;
}

@media screen and (max-width: 440px) {
  .header {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper {
    padding: 100px 15px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main {
    padding: 5px;
  }
  .header-main {
    flex-direction: column;
    justify-content: center;
  }
  .main-cards {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .termins-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .beauty {
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
  }

  .footer {
    padding: 5px;
  }
  .footer-head {
    flex-direction: column;
    justify-content: start;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .header-box {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 2300px) {
  .companies__list {
    flex-direction: column;
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .designer {
    flex-wrap: wrap;
    padding: 5px;
  }
}
