body {
  font-family: "Red Hat Display", sans-serif;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  background: url(./img/image1.png) no-repeat;
  background-position: bottom 19px right -40px;
}
.header__background {
  background-color: #f9f6f5;
}
.header__box {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  font-style: italic;
  color: #222222;
}
.header__list {
  gap: 30px;
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
.header__info__list {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  padding-top: 108px;
  padding-left: 100px;
  padding-bottom: 109px;
}

.wrapper__title {
  width: 621px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  color: #000000;
}

.wrapper__description {
  width: 516px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
}
.wrapper__search__box {
  position: relative;
  border: 1px solid gray;
  margin-top: 30px;
  width: 326px;
  height: 48px;
  background-color: #ffffff;
}

.search__btn {
  position: absolute;
  right: 8px;
  bottom: 8px;
  top: 8px;
}

.shop__btn {
  margin-top: 60px;
  width: 148px;
  height: 56px;
  background-color: #402f2c;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.companies {
  margin: 0 auto;
  padding: 134px 130px;
}

.companies__list {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 42px 0;
}

.main {
  margin: 0 auto;
  padding: 0 100px;
}
.header__main {
  display: flex;
  justify-content: space-between;
}
.main__title {
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 20px;
}

.main__description {
  width: 700px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  padding-bottom: 60px;
}

.main__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #222222;
  text-decoration: underline;
}
.main__links {
  display: flex;
  justify-content: start;
  align-items: center;
}

.main__cards {
  padding-bottom: 130px;
  width: 1240px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.main__cards__title {
  padding: 0 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #222222;
  margin-top: 20px;
  margin-bottom: 16px;
}
.main__cards__description {
  padding: 0 32px;
  width: 500px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
}

.main__cards__box,
.main__cards__boxtwo {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(226, 225, 225);
  padding-bottom: 30px;
}
.main__cards__button {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 47px;
  display: inline-block;
}

.cards__btn {
  background-color: #402f2c;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding: 16px 32px;
  margin-right: 20px;
}
.carts__btn {
  padding: 16px 32px;
  border: 1px solid #b7ada7;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #402f2c;
}
.cards__price {
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  color: #222222;
  margin-left: 140px;
}
.termins__background {
  background-color: #fdf8f5;
}
.termins {
  padding: 50px 0;
  margin: 0 auto;
  background-color: #fdf8f5;
}

.termins__list {
  display: flex;
  justify-content: space-around;
}

.termins__title {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: #222222;
  border-bottom: 3px solid black;
}
.termins__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #555555;
  margin-top: 30px;
}
.beauty {
  margin: 0 auto;
  padding: 130px;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.beauty__title {
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 20px;
}
.beauty__description {
  width: 600px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 50px;
}
.beauty__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding: 16px 32px;
  background-color: #402f2c;
}

.designer {
  padding-bottom: 130px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 54px;
}

.designer__title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #222222;
}
.designer__stars {
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 43px;
}
.designer__description {
  width: 608px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 79px;
}
.designer__name {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #222222;
  margin-bottom: 10px;
}
.designer__trade {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #555555;
}
.footer__background {
  background-color: #fafafa;
}
.footer {
  margin: 0 auto;
  padding: 103px 100px 52px;
}

.footer__head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
}

.footer__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  color: #222222;
  margin-bottom: 64px;
}
.footer__btn__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 386px;
  height: 56px;
  background-color: #ffffff;
}
.footer__email {
  display: block;
  height: 100%;
  width: 85%;
  padding: 0 10px;
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  font-weight: 400;
}
.footer__btn {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background-color: #402f2c;
  padding: 15px;
}

.footer__nav {
  padding-top: 59px;
  display: flex;
  justify-content: space-around;
}

.footer__nav__logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-decoration: underline;
  font-style: italic;
  color: #222222;
}
.footer__nav__description {
  margin-top: 39px;
  width: 326px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #555555;
}
.footer__link,
.footer__contacts {
  font-weight: 500;
  padding-top: 39px;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}
.footer__item,
.footer__contact__item,
.footer__links,
.footer__contact__links {
  padding-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
.icon__link {
  padding-right: 10px;
}
